{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style type="text/css">
    #map { height: 300px; }
</style>
{% endblock %}

{% block title %}Organisation hinzufügen{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1>Organisation hinzufügen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form id="add-organisation">
                <div class="form-group">
                    <label for="org-name">Name</label>
                    <input type="text" class="form-control" id="org-name"
                           placeholder="Bitte gib den Namen Eurer Organisation an">
                </div>
                <div class="form-group">
                    <label for="latlng">Standort</label>
                    <input type="hidden" id="latlng" value=""/>
                    <div id="map"></div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> nur für Mitglieder sichtbar
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Organisation anlegen</button>
            </form>
        </div>
        <div class="col-md-4 well well-lg">
            <p>Füge eine Organisation hinzu</p>

            <p>Eine Organisation kann eine Schulklasse, eine Kindergarten-Gruppe,
                oder einfach eine Gruppe von Eltern sein, die für ihre Kinder
                das Gingerbread Man-Projekt organisieren.</p>

            <p>Organisationen haben:</p>

            <ul>
                <li>Benutzer und Administratoren</li>
                <li>Einträge zu Sichtungen des Gingerbread Mans</li>
                <li>zusätzliche, auf das Projekt bezogene, Materialien</li>
            </ul>

            <p>Dein Benutzerkonto wird automatisch mit der erstellten Organisation verbunden.
                Du kannst dann alle Aktivitäten, die die Organisation betreffen (z. B. Einträge zu Sichtungen),
                administrieren.</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    var greenwich = { lat: 51.478, lng: -0.002 };
    var options = {
       enableHighAccuracy: false,
       timeout: 5000,
       maximumAge: 0
    };
    if('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        renderMap(greenwich.lat, greenwich.lng);
    }
    function success(pos){
        var lng = pos.coords.longitude,
            lat = pos.coords.latitude;
        renderMap(lat, lng);

    }
    function error(err){
        renderMap(greenwich.lat, greenwich.lng);
    }
    function renderMap(lat, lng)
    {
        var map = L.map('map');
        var osmUrl = 'http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 18, attribution: osmAttrib});
        map.setView(new L.LatLng(lat, lng),5);
        map.addLayer(osm);
        $('#latlng').val(lat + ':' + lng);
        var marker = L.marker(map.getCenter()).addTo(map);
        map.on('click', function(e) {
            marker.setLatLng(e.latlng);
            $('#latlng').val(e.latlng.lat + ':' + e.latlng.lng);
        });
    }
});

</script>
{% endblock %}
