{% extends 'base.html.twig' %}

{% block title %}Organisation hinzufügen{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Organisation hinzufügen</h1>
    <!-- @todo translate to German -->
    <p>Lorem ipsum dolor sit amet.</p>
</div>

{% endblock %}