{% extends 'base.html.twig' %}

{% block title %}Organisation hinzufügen{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Organisation hinzufügen</h1>
    <!-- @todo translate to German -->
    <p>Füge eine Organisation hinzu</p>
    
    <p>Eine Organisation kann eine Schulklasse, eine Kindergarten-Gruppe,
        oder einfach eine Gruppe von Eltern sein, die für ihre Kinder
        das Gingerbread Man-Projekt organisieren.</p>
        
    <p>Organisationen beinhalten</p>
    <ul>
        <li>Benutzer und Administratoren (Verwalter)</li>
        <li>Einträge zu Sichtungen (Postkarten, etc.)</li>
        <li>zusätzliche, auf das Projekt bezogene, Materialien</li>
    </ul>
    
    <p>Das Benutzerkonto wird automatisch mit der erstellten Organisation verbunden.
        Alle Aktivitäten, welche die Organisation betreffen (z. B.Einträge zu Sichtungen)
        sind anschließend möglich.</p>
</div>

{% endblock %}
