{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style type="text/css">
    #map { height: 300px; }
</style>
{% endblock %}

{% block title %}Add an Organisation{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1>Add an Organisation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form id="add-organisation">
                <div class="form-group">
                    <label for="org-name">Name</label>
                    <input type="text" class="form-control" id="org-name"
                           placeholder="Please enter your organisation's name">
                </div>
                <div class="form-group">
                    <label for="latlng">Location</label>
                    <input type="hidden" id="latlng" value=""/>
                    <div id="map"></div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> visible to members only
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create organisation</button>
            </form>
        </div>
        <div class="col-md-4 well well-lg">
            <p>Here you can create an organisation.</p>

            <p>An Organisation can be a class in a school or pre-school, a group in
                a nursery or play school, or simply just a group of parents who
                organise the Gingerbread Man project for their children.</p>

            <p>Organisations are associated with:</p>

            <ul>
                <li>users and administrators</li>
                <li>posts of Gingerbread Man sightings</li>
                <li>additional material relating to your project</li>
            </ul>

            <p>Your user account will be automatically associated with the organisation
                and you will be able to control all activities (e.g. posts of Gingerbread Man
                sightings) relating to your organisation.</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    var greenwich = { lat: 51.478, lng: -0.002 };
    var options = {
       enableHighAccuracy: false,
       timeout: 5000,
       maximumAge: 0
    };
    if('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        renderMap(greenwich.lat, greenwich.lng);
    }
    function success(pos){
        var lng = pos.coords.longitude,
            lat = pos.coords.latitude;
        renderMap(lat, lng);

    }
    function error(err){
        renderMap(greenwich.lat, greenwich.lng);
    }
    function renderMap(lat, lng)
    {
        var map = L.map('map');
        var osmUrl = 'http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 2, maxZoom: 18, attribution: osmAttrib});
        map.setView(new L.LatLng(lat, lng),5);
        map.addLayer(osm);
        $('#latlng').val(lat + ':' + lng);
        var marker = L.marker(map.getCenter()).addTo(map);
        map.on('click', function(e) {
            marker.setLatLng(e.latlng);
            $('#latlng').val(e.latlng.lat + ':' + e.latlng.lng);
        });
    }
});

</script>
{% endblock %}
