{% extends 'base.html.twig' %}

{% block title %}Imprint{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Imprint</h1>
</div>

gingerbreadman-sightings.org uses an icon made by <a href="http://blacksugar.com.ua" target="_blank">BlackSugar</a>.

{% endblock %}
