{% extends 'base.html.twig' %}

{% block title %}Gingerbread Man Sightings DE{% endblock %}

{% block body %}

<div class="page-header">
    <h1>Gingerbread Man Sightings DE</h1>
</div>

{% endblock %}